{% extends "base.html" %}
{% block title %}
Landing Page
{% endblock title %}


{% block content %}
<h1>Welcome</h1>
<br> 
<ul> 
<li><a href="{{url_for('files')}}"> Files page</a></li>
<li><a href="{{url_for('inventory')}}"> Inventory</a></li>

<li><a href="{{url_for('files')}}"> Invoices</a></li>
</ul>

{% endblock content %}