{% extends "base.html" %}
{% block title %}Inventory Page{% endblock title %}

{% block content %}
<h1>Welcome</h1>

<form method="post" action="{{url_for('inventory')}}" enctype="multipart/form-data" >

<input type="text" name="fab_Inventory_id" placeholder="Fabricants Id" required="required">
<input type="text" name="fabricant" placeholder="Fabricant" required="required">
<input type="text" name="fab_Inventory_name" placeholder="Product" required="required">
<input type="number" name="qunt" placeholder="Quantity" required="required">
<input type="text" name="desc" placeholder="Description" required="required">
<br><input type="submit" value="Post">
</form>
<br> <a href="{{url_for('index')}}"> Back to main</a>

<table>
        <thead>
            <tr>
                <th>Fabricant ID</th>
                <th>Fabricant</th>
                <th>Inventory Name</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for inv in inventory %}
            <tr>
                <td>{{ inv.fab_Inventory_id }}</td>
                <td>{{ inv.fabricant }}</td>
                <td>{{ inv.fab_Inventory_name }}</td>
                <td>{{ inv.qunt }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}