{% extends "base.html" %}

{% block title %}
sign up
{% endblock title %}

{% block content %}
<h1>Salve Operarius Mercedis </h1>
<p>Time to sign up!</p>
<form method="POST" action="{{url_for('sign_up')}}">
    <input type="text" name="username" placeholder="username" required="required"> <br>
    <input type="text" name="password" placeholder="password" required="required"> <br>
    <input type="submit" value="Login"> 
</form>
{% endblock content %}