<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSR_Enterprise</title>
</head>
<body>
    <ul>
        {% for li in mylist %}
        <li>{{li}}</li>
        {% endfor %}
    </ul>
    
</body>
</html>